<template>
  <div>
    <v-snackbar
      v-model="snackbar"
      :top="snackbarTop"
      :timeout="snackbarTimeout"
    >
      {{ errorMessage }}
      <v-btn dark flat @click="snackbar = false">Close</v-btn>
    </v-snackbar>
    <v-toolbar flat color="white">
      <v-toolbar-title>Students</v-toolbar-title>
      <v-divider class="mx-2" inset vertical></v-divider>
      <v-spacer></v-spacer>
      <v-dialog v-model="dialog" max-width="800px">
        <template v-slot:activator="{ on }">
          <v-btn color="primary" dark class="mb-2" v-on="on">Create User</v-btn>
        </template>
        <v-card>
          <v-card-title>
            <span class="headline">{{ formTitle }}</span>
          </v-card-title>

          <v-card-text>
            <v-container grid-list-md>
              <form>
                <v-text-field
                  v-model="editedItem.first_name"
                  :error-messages="firstNameErrors"
                  label="First Name"
                  @input="$v.editedItem.first_name.$touch()"
                  @blur="$v.editedItem.first_name.$touch()"
                  required
                ></v-text-field>
                <v-text-field
                  v-model="editedItem.last_name"
                  :error-messages="lastNameErrors"
                  label="Last Name"
                  @input="$v.editedItem.last_name.$touch()"
                  @blur="$v.editedItem.last_name.$touch()"
                  required
                ></v-text-field>
                <v-select
                  v-model="editedItem.gender"
                  :items="genderOptions"
                  :error-messages="genderErrors"
                  label="Gender"
                  @input="$v.editedItem.gender.$touch()"
                  @blur="$v.editedItem.gender.$touch()"
                  required
                ></v-select>
                <v-select
                  v-model="editedItem.class_room_id"
                  :items="classOptions"
                  :error-messages="classErrors"
                  label="Class Room"
                  @input="$v.editedItem.class_room_id.$touch()"
                  @blur="$v.editedItem.class_room_id.$touch()"
                  required
                ></v-select>
                <v-select
                  v-model="editedItem.join_year"
                  :items="yearOptions"
                  :error-messages="joinYearErrors"
                  label="Join Year"
                  @input="$v.editedItem.join_year.$touch()"
                  @blur="$v.editedItem.join_year.$touch()"
                  required
                ></v-select>
                <v-btn @click="submit">submit</v-btn>
                <v-btn @click="clear">clear</v-btn>
              </form>
            </v-container>
          </v-card-text>

          <v-card-actions>
            <v-spacer></v-spacer>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-toolbar>
    <v-data-table
      :headers="headers"
      :items="students"
      :total-items="totalItems"
      :rows-per-page-items="[15]"
      :pagination.sync="pagination"
      :loading="loading"
      class="elevation-1"
    >
      <template v-slot:items="props">
        <td class="text-xs-left">{{ props.item.id }}</td>
        <td class="text-xs-left">{{ props.item.first_name }}</td>
        <td class="text-xs-left">{{ props.item.last_name }}</td>
        <td class="text-xs-left">{{ props.item.gender }}</td>
        <td class="text-xs-left">{{ props.item.class_room_name }}</td>
        <td class="text-xs-left">{{ props.item.teacher_name }}</td>
        <td class="text-xs-left">{{ props.item.join_year }}</td>
        <td class="justify-left layout px-0">
          <v-icon small class="mr-2" @click="editItem(props.item)">edit</v-icon>
          <v-icon small @click="deleteItem(props.item)">delete</v-icon>
        </td>
      </template>
      <template v-slot:no-data>
        <v-btn color="primary" @click="initialize">Reset</v-btn>
      </template>
    </v-data-table>
  </div>
</template>

<script>
import { validationMixin } from "vuelidate";
import { required } from "vuelidate/lib/validators";
import userServices from "../services/UserServices";
import UserServices from "../services/UserServices";
export default {
  mixins: [validationMixin],
  validations: {
    editedItem: {
      first_name: { required },
      last_name: { required },
      gender: { required },
      class_room_id: { required },
      join_year: { required }
    }
  },
  data: () => ({
    snackbar:false,
    snackbarTop:true,
    snackbarTimeout:3000,
    errorMessage:'',
    dialog: false,
    loading: false,
    pagination: {
      decending: true,
      sortBy: "id"
    },
    totalItems: 0,
    headers: [
      {
        text: "ID",
        align: "left",
        sortable: false,
        value: "id"
      },
      {
        text: "First Name",
        align: "left",
        sortable: false,
        value: "first_name"
      },
      { text: "Last Name", sortable: false, value: "last_name" },
      { text: "Gender", sortable: false, value: "gender" },
      { text: "Class Room", sortable: false, value: "class_room_name" },
      { text: "Teacher Name", sortable: false, value: "teacher_name" },
      { text: "Join Year", sortable: false, value: "join_year" },
      { text: "Actions", sortable: false, value: "name", sortable: false }
    ],
    students: [],
    genderOptions: [{ value: "M", text: "M" }, { value: "F", text: "F" }],
    classOptions: [
      { value: 1, text: "A" },
      { value: 2, text: "B" },
      { value: 3, text: "C" }
    ],
    yearOptions: [2017, 2018, 2019, 2020, 2021],
    editedIndex: -1,

    editedItem: {
      id: null,
      first_name: "",
      last_name: "",
      gender: "",
      class_room_id: "",
      join_year: ""
    }
  }),

  computed: {
    formTitle() {
      return this.editedIndex === -1 ? "New User" : "Edit User";
    },

    firstNameErrors() {
      const errors = [];
      if (!this.$v.editedItem.first_name.$dirty) return errors;
      !this.$v.editedItem.first_name.required &&
        errors.push("First Name is required.");
      return errors;
    },
    lastNameErrors() {
      const errors = [];
      if (!this.$v.editedItem.last_name.$dirty) return errors;
      !this.$v.editedItem.last_name.required &&
        errors.push("Last Name is required.");
      return errors;
    },
    genderErrors() {
      const errors = [];
      if (!this.$v.editedItem.gender.$dirty) return errors;
      !this.$v.editedItem.gender.required && errors.push("Gender is required");
      return errors;
    },
    classErrors() {
      const errors = [];
      if (!this.$v.editedItem.class_room_id.$dirty) return errors;
      !this.$v.editedItem.class_room_id.required &&
        errors.push("Class is required");
      return errors;
    },
    joinYearErrors() {
      const errors = [];
      if (!this.$v.editedItem.join_year.$dirty) return errors;
      !this.$v.editedItem.join_year.required &&
        errors.push("Join year is required");
      return errors;
    }
  },

  watch: {
    pagination: {
      handler: function(after, before) {
        this.loading = true;
        UserServices.getUsers(after.page, after.rowsPerPage)
          .then(res => {
            this.students = res.data.data;
            this.totalItems = res.data.total;
            this.loading = false;
          })
          .catch(error => {
            this.loading = false;
          });
      },
      deep: true
    }
  },

  created() {
    //this.initialize()
  },

  methods: {
    initialize() {
      this.loading = true;
      UserServices.getUsers(this.pagination.page, this.pagination.rowsPerPage)
        .then(res => {
          this.students = res.data.data;
          this.totalItems = res.data.total;
          this.loading = false;
        })
        .catch(error => {
          this.loading = false;
        });
    },

    editItem(item) {
      this.editedItem = Object.assign({}, item);
      this.dialog = true;
    },

    deleteItem(item) {
      if (confirm("Are you sure you want to delete this item?")) {
        userServices.deleteUser(item.id).then(res=>{
          this.snackbar=true;
          this.errorMessage = 'User delete successfully';
          this.initialize();
        }).catch(error=>{
          this.snackbar=true;
          this.errorMessage = 'Opps! Something went wrong please try again later.';
        });

      }
    },

    submit() {
      this.$v.$touch();
      if (!this.$v.$invalid) {
        userServices
          .save(this.editedItem)
          .then(res => {
            this.dialog = false;
            this.$v.$reset();
            this.initialize();
            this.snackbar=true;
            if(!this.editedItem.id){
              this.errorMessage = 'User created successfully';
            }else{
              this.errorMessage = 'User update successfully';
            }

          })
          .catch(error => {
            this.snackbar=true;
            this.errorMessage = 'Opps! Something went wrong please try again later.';
          });
      }
    },
    clear() {
      this.$v.$reset();
    }
  }
};
</script>