<template>
  <v-app>
    <v-toolbar>
      <v-toolbar-side-icon></v-toolbar-side-icon>
      <v-toolbar-title>SAS</v-toolbar-title>
      <v-spacer></v-spacer>
      <v-toolbar-items class="hidden-sm-and-down">
        <v-btn v-if="isAuth" flat to="/" exact>
          <v-icon>apps</v-icon>Dash Board
        </v-btn>
        <v-btn v-if="isAuth" @click="logout">Logout</v-btn>
        <v-btn v-if="!isAuth" flat to="/login" exact>Login</v-btn>
      </v-toolbar-items>
    </v-toolbar>
    <main>
      <router-view></router-view>
    </main>
  </v-app>
</template>

<script>
import LocalStorageService from "../services/LocalStorageService";
export default {
  name: "main-app",
  data: () => ({
    isAuth: LocalStorageService.hasUser()
  }),
  created() {
    this.$bus.$on("auth:change", () => {
      this.isAuth = LocalStorageService.hasUser();
    });
  },
  methods: {
    logout() {
      LocalStorageService.deleteUser();
      this.$router.push({ path: "/login" });
      this.$bus.$emit("auth:change");
    }
  }
};
</script>
