<template>
  <v-content>
    <v-container fluid fill-height>
      <v-layout align-center justify-center>
        <v-flex xs12 sm8 md4>
          <v-card class="elevation-12">
            <v-toolbar dark color="primary">
              <v-toolbar-title>Admin Login</v-toolbar-title>
              <v-spacer></v-spacer>
            </v-toolbar>
            <v-card-text>
              <v-alert v-if="error" :value="true" outline color="error">{{errorMessage}}</v-alert>
              <v-spacer></v-spacer>
              <v-form>
                <v-text-field prepend-icon="person" v-model="email" label="Email" type="text"></v-text-field>
                <v-text-field
                  prepend-icon="lock"
                  v-model="password"
                  label="Password"
                  id="password"
                  type="password"
                ></v-text-field>
              </v-form>
            </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="primary" @click="login">Login</v-btn>
            </v-card-actions>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
  </v-content>
</template>
<script>
    import LocalStorageServce from "../../services/LocalStorageService";
    import AuthService from "../../services/AuthService";
    import UserServices from "../../services/UserServices";
    export default {
    name: "login",
    data: () => ({
        email: "",
        password: "",
        error: false,
        errorMessage:''
    }),
    computed: {
        isAuth() {
        return LocalStorageServce.hasUser();
        }
    },
    methods: {
        login() {
        AuthService.login({ email: this.email, password: this.password })
            .then(res => {
            if (res.data && res.data.token) {
                LocalStorageServce.saveUser(res.data);
                this.$router.push({ path: "/" });
                this.$bus.$emit("auth:change");
            }
            })
            .catch(error => {
                this.error=true;
                this.errorMessage = "Email/Password Incorrect."
            });
        }
    }
    };
</script>
